name:                         Execute PhpUnit tests
on:                           pull_request
jobs:
  build:
    runs-on:                  ubuntu-latest

    services:
      postgres:
        image:                postgres:16-alpine
        ports:
          -                   5432:5432
        env:
          POSTGRES_PASSWORD:  postgres
          POSTGRES_USER:      postgres
          POSTGRES_DB:        postgres

    steps:
      - uses:                 actions/checkout@v4
      - uses:                 shivammathur/setup-php@v2
        with:
          php-version:        '8.2'
      - run:                  composer update
      - run:                  composer install --prefer-dist --no-progress
      - run:                  php bin/console doctrine:database:create --env=test
      - run:                  php bin/console doctrine:migrations:migrate -n --env=test
      - run:                  php bin/console doctrine:fixtures:load -n --purge-with-truncate --env=test
      - run:                  php bin/phpunit
